<ul class="chat-list">
    {{#each chats}}
        <li class="chat-list__item">
            <a href="/chats/{{this.id}}" routerlink class="chat-list__link">
                <img src="/assets/images//placeholders/user.png" alt="Аватар" class="avatar chat-list__avatar"/>
                <div class="chat-list__content">
                    <h2 class="text text_bold text_author">
                        {{this.title}}
                    </h2>
                </div>
            </a>
        </li>
    {{/each}}
</ul>
