.link {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 11px;

    text-decoration: none;
    color: var(--chat-ui-color-primary);
}

.link:visited {
    color: var(--chat-ui-color-primary);
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
}
