.nav {
    display: flex;
}

.nav_content-position_space-between {
    justify-content: space-between;
    align-items: center;
}

.nav_content-position_right {
    justify-content: flex-end;
}

.nav__link {
    margin-right: 15px;

    font-weight: 500;
    font-size: 12px;
    line-height: 12px;

    color: var(--chat-ui-color-medium);
    text-decoration: none;
}

.nav__link:hover {
    text-decoration: underline;
}
.nav__link:last-child {
    margin-right: 0;
}
