.search-bar {
    padding: 10px;
    border: none;
    box-sizing: border-box;

    font-weight: 500;
    font-size: 12px;
    line-height: 12px;

    border-radius: 5px;
    background-color: var(--chat-ui-color-medium-tint);

    outline: none;
}


