.sidebar {
    display: flex;
    flex-flow: column;

    padding: 10px;
    border-right: 1px solid var(--chat-ui-color-medium-shade);
    box-sizing: border-box;

    background-color: var(--chat-ui-color-light);
}

.sidebar__header {
    flex: 0 102px;
    padding-top: 21px;
    box-sizing: border-box;
}

.sidebar__nav {
    margin-bottom: 23px;
}

.sidebar__search-bar {
    width: 100%;
}

.sidebar__content {
    flex: 10;
    overflow-y: scroll;
}
