.form {
    display: flex;
    flex-flow: column;

    min-width: 340px;
    /*min-height: 460px;*/

    padding: 70px 30px 30px;
    box-sizing: border-box;

    border-radius: 12px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
}

.form_no-shadow {
    box-shadow: none;
}

.form__heading {
    flex: 1;
}

.form__body {
    flex: 2;
    padding: 40px 0;
}

.form__footer {
    flex: 1;

    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
}

.form__form-group {
    margin-bottom: 16px;
}

.form__button {
    margin-bottom: 14px;
}

.form_no-padding_top {
    padding-top: 0;
}
